@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    font-family: 'VT323', sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

:root {
    --accent-dark: #3a54bb;
    --accent-light: #d3e376;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
  
header {
    font-size: 6vmin;
    padding: 1vmin;
    background-color: var(--accent-dark);
    color: white;
    text-align: center;
    letter-spacing: .5vmin;
}
  
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #242c30;
    color: white;
}

#message {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: greenyellow;
    --messageborder: solid grey 5px;
    border-bottom: var(--messageborder);
    border-top: var(--messageborder);
    width: 100%;
    margin: 0% 0% 20px 0%;
}

main > div {
    display: grid;
    grid-template-columns: 120px 500px 70px 500px 120px;
    gap:  10px;
    align-items: center;
    justify-items: center;
}

#score {
    font-size: 20px;
    background-color: rgb(159, 159, 159);
    border-radius: 5px;
    border: black solid 5px;
    padding: 10px;
}

#score span {
    font-weight: 900;
}

.board {
    display: grid;
    grid-template-rows: repeat(10,  40px);
    grid-template-columns: repeat(10,  40px);
    background-image: url('./imgs/sea.jpg');
    background-size: contain;
    border: black solid 5px;
}

.board > div {
    border: black solid 1px;
    font-weight: 700;
    font-size: 20px;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    opacity: .75;
}

#computerboard > div:hover {
    border: rgb(189, 189, 189) solid 1px;
}

#countdown {
    font-size: 5vmin;
    font-weight: 900; 
    height: 7.5vmin;
    width: 7.5vmin;
    text-align: center;
}

#turns > div {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    text-align: center;
}

.turn {
    border-radius: 5px;
    border: black solid 1px;
    background-color: var(--accent-light);
    color: black;
    padding: 2vmin;
    margin: 2vmin;
    font-weight: 700;
    opacity: 0;
    text-align:center;
}

#playerinfo {
    grid-column-start: 2;
}

#computerinfo {
    grid-column-start: 4;
}

#orientation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: black solid 5px;
    padding: 5px;
    background: rgb(159, 159, 159);
}

#orientation > * {
    margin: 5px;
}

h4 {
    font-size: 20px;
}

.ships {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    height: 140px;
    border: solid black 5px;
    background-color: grey;
    padding: 20px 0px;
}

.ship{
    display: grid;
    grid-template-rows: 40px;
    margin: 0px 20px 0px 20px;
    border: solid black 2px;
}

#playerships > .ship {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#playerships > .ship:hover {
    border: yellow solid 2px;;
}

.ship > div {
    border: black solid 1px;
    opacity: .5;
}

.carrier {
    grid-template-columns: repeat(5, 40px);
    
}

#playerships > .carrier {
    background-image: url('./imgs/carriercropped.png');
}

.battleship {
    grid-template-columns: repeat(4,  40px);
}

#playerships > .battleship {
    background-image: url('./imgs/battleshipcropped.png');
}

.destroyer {
    grid-template-columns: repeat(2,  40px);
}

#playerships > .destroyer {
    background-image: url('./imgs/destroyercropped.png');
}

.cruiser {
    grid-template-columns: repeat(3,  40px);
}

#playerships > .cruiser {
    background-image: url('./imgs/cruisercropped.png');
}

.submarine {
    grid-template-columns: repeat(3,  40px);
}

#playerships > .submarine {
    background-image: url('./imgs/submarinecropped.png');
}

.countingdown {
    border-radius: 50%;
    border: solid 1vmin var(--accent-light);
    background-color: #000;
    color: lightgreen;
}

.dragging {
    opacity: .5;
}

.filling {
    opacity: .5;
    background-color: blue;
}

.cantfill {
    opacity: .5;
    background-color: pink;
}

#playerboard > .hittable {
    background-color: grey;
}



#playerboard > .hit {
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.5);
}

#computerboard > .hit {
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.5);
}

.miss {
    background-color: white;
    opacity: .5;
}

button {
    font-size: 30px;
    font-weight: 900;
}

#playerships > .placed {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

#computerboard > .firingsquare {
    border: solid yellow 2px;
}

#playerboard > .firingsquare {
    border: solid orange 2px;
}

.visible {
    opacity: 1;
}

#playerships .damage {
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.5);
}

#playerships > .sunk {
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 64, 0.65);
}

#computerships .damage {
    background-color: lightgreen;
}

#computerships > .sunk {
    background-color: green;
}

/* Sizes for partial images */

.third1 {
    background-size: 300% 100%;
}

.third2 {
    background-size: 300% 100%;
    background-position-x: 200%;
}

.third3 {
    background-size: 300% 100%;
    background-position-x: 100%;
}

.half1 {
    background-size: 200% 100%;
    background-image: url('./imgs/destroyercropped.png');
}

.half2 {
    background-size: 200% 100%;
    background-image: url('./imgs/destroyercropped.png');
    background-position-x: 100%;
}

.fourth1 {
    background-size: 400% 100%;
    background-image: url('./imgs/battleshipcropped.png');
}

.fourth2 {
    background-size: 400% 100%;
    background-image: url('./imgs/battleshipcropped.png');
    background-position-x: 300%;
}

.fourth3 {
    background-size: 400% 100%;
    background-image: url('./imgs/battleshipcropped.png');
    background-position-x: 200%;
}

.fourth4 {
    background-size: 400% 100%;
    background-image: url('./imgs/battleshipcropped.png');
    background-position-x: 100%;
}

.fifth1 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
}

.fifth2 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
    background-position-x: 400%;
}

.fifth3 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
    background-position-x: 300%;
}

.fifth4 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
    background-position-x: 200%;
}

.fifth5 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
    background-position-x: 100%;
}

.sub {
    background-image: url('./imgs/submarinecropped.png');
}

.cruise {
    background-image: url('./imgs/cruisercropped.png');
}

.rotated{
    transform: rotate(90deg);
}