@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    font-family: 'VT323', sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

:root {
    --accent-light: greenyellow;
    --boardsquaresize: 4.5vmin;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
  
header {
    font-size: 6vmin;
    padding: 1vmin;
    background-color: var(--accent-light);
    color: black;
    text-align: center;
    letter-spacing: .5vmin;
}
  
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #242c30;
    color: white;
}

.container {
    display: flex;
    padding: 20px;
    background-color: #000;

    color: greenyellow;
    --messageborder: solid grey 5px;
    border-bottom: var(--messageborder);
    border-top: var(--messageborder);
    
    margin: 0% 0% 20px 0%;
    width: 100%;
}

#message {
    display: flex;

    margin: auto;
}


h1 {
    display:inline;
    border-right: .15em green solid;
    letter-spacing: .15em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;

    animation: 
        typing 2.25s steps(40, end),
        typingline .5s step-end infinite;
}

h2 {
    margin: 1vmin auto;
}

@keyframes typing {
    from { 
        width: 0;
    }
    to { 
        width: 100%;
    }
  }

@keyframes typingline {
    from, to { 
        border-color: transparent;
    }
    50% { 
        border-color: green;
    }
}

main > div {
    display: grid;
    grid-template-columns: 25vmin 75vmin 10vmin 75vmin 25vmin;
    gap:  10px;
    align-items: center;
    justify-items: center;
}

#score {
    font-size: 20px;
    border-radius: 5px;
    border: black solid 5px;
    padding: 10px;
}

#score span {
    font-weight: 900;
}

.board {
    display: grid;
    grid-template-rows: repeat(10,  var(--boardsquaresize));
    grid-template-columns: repeat(10,  var(--boardsquaresize));
    background-image: url('./imgs/sea.jpg');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: contain;
    border: black solid 5px;
    animation: animatedBackground 1000s linear infinite;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }

.board > div {
    border: black solid 1px;
    font-weight: 700;
    font-size: 20px;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    opacity: .75;
}

#computerboard > div:hover {
    border: rgb(189, 189, 189) solid 1px;
}

#countdown {
    font-size: 5vmin;
    font-weight: 900; 
    height: 7.5vmin;
    width: 7.5vmin;
    text-align: center;
}

#turns > div {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    text-align: center;
}

.turn {
    border-radius: 5px;
    border: black solid 1px;
    background-color: var(--accent-light);
    color: black;
    padding: 1vmin;
    margin-bottom: 1vmin;
    font-weight: 700;
    opacity: 0;
    text-align:center;
}

#fire {
    background-color:rgba(255, 0, 0, 0.5);
    padding: 2vmin;
    font-size: 36px;
    border-radius: 10px;
    border: solid white 2px;
}

#fire:hover {
    background-color:rgba(255, 49, 49, 0.5);
    transform: scale(1.1);
}

#fire:active {
    transform: scale(.9);
}

#playerinfo {
    grid-column-start: 2;
}

#computerinfo {
    grid-column-start: 4;
}

#orientation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: black solid 5px;
    padding: 1.5vmin;
    height: 15vmin;
    min-height: 100px;
}

#orientation > * {
    margin: 1vmin;
}

h4 {
    font-size: 20px;
}


.ships {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    height: 15vmin;
    border: solid black 5px;
    padding: 1vmin 0px;
    
}

#playerships {
    background-color: white;

}

.ship{
    display: grid;
    grid-template-rows: var(--boardsquaresize);
    margin: 0px 1.5vmin 0px 1.5vmin;
    border: solid black 2px;
}

#playerships > .ship {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: pulsing 2s linear infinite;
}

#playerships > .ship:hover {
   transform: scale(1.05);
}


#playerships > .placed:hover {
    border: solid green 2px;
    transform: scale(1);
}



.ship > div {
    border: black solid 1px;
    opacity: .5;
}

.carrier {
    grid-template-columns: repeat(5, var(--boardsquaresize));
    
}

#playerships > .carrier {
    background-image: url('./imgs/carriercropped.png');
}

.battleship {
    grid-template-columns: repeat(4,  var(--boardsquaresize));
}

#playerships > .battleship {
    background-image: url('./imgs/battleshipcropped.png');
}

.destroyer {
    grid-template-columns: repeat(2,  var(--boardsquaresize));
}

#playerships > .destroyer {
    background-image: url('./imgs/destroyercropped.png');
}

.cruiser {
    grid-template-columns: repeat(3,  var(--boardsquaresize));
}

#playerships > .cruiser {
    background-image: url('./imgs/cruisercropped.png');
}

.submarine {
    grid-template-columns: repeat(3,  var(--boardsquaresize));
}

#playerships > .submarine {
    background-image: url('./imgs/submarinecropped.png');
}

.countingdown {
    border-radius: 50%;
    border: solid 1vmin var(--accent-light);
    background-color: #000;
    color: lightgreen;
}

.dragging {
    opacity: .5;
}

.filling {
    opacity: .5;
    background-color: blue;
}

.cantfill {
    opacity: .5;
    background-color: pink;
}

#playerboard > .hittable {
    background-color: grey;
}


#playerboard > .hit {
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.5);
}

#computerboard > .hit {
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.5);
}

.miss {
    background-color: white;
    opacity: .5;
}

button {
    font-size: 3vmin;
    font-weight: 900;
}

button:hover {
    transform: scale(1.05);
}

#playerships > .placed {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);

    animation: none;
}

#computerboard > .firingsquare {
    border: solid yellow 2px;
}

#playerboard > .firingsquare {
    border: solid orange 2px;
}

.visible {
    opacity: 1;
}

#playerships .damage {
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.5);
}

#playerships > .sunk {
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 64, 0.65);
}

#computerships .damage {
    background-color: lightgreen;
}

#computerships > .sunk {
    background-color: green;
}

/* Sizes for partial images */

.third1 {
    background-size: 300% 100%;
}

.third2 {
    background-size: 300% 100%;
    background-position-x: 200%;
}

.third3 {
    background-size: 300% 100%;
    background-position-x: 100%;
}

.half1 {
    background-size: 200% 100%;
    background-image: url('./imgs/destroyercropped.png');
}

.half2 {
    background-size: 200% 100%;
    background-image: url('./imgs/destroyercropped.png');
    background-position-x: 100%;
}

.fourth1 {
    background-size: 400% 100%;
    background-image: url('./imgs/battleshipcropped.png');
}

.fourth2 {
    background-size: 400% 100%;
    background-image: url('./imgs/battleshipcropped.png');
    background-position-x: 300%;
}

.fourth3 {
    background-size: 400% 100%;
    background-image: url('./imgs/battleshipcropped.png');
    background-position-x: 200%;
}

.fourth4 {
    background-size: 400% 100%;
    background-image: url('./imgs/battleshipcropped.png');
    background-position-x: 100%;
}

.fifth1 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
}

.fifth2 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
    background-position-x: 400%;
}

.fifth3 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
    background-position-x: 300%;
}

.fifth4 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
    background-position-x: 200%;
}

.fifth5 {
    background-size: 500% 100%;
    background-image: url('./imgs/carriercropped.png');
    background-position-x: 100%;
}

.sub {
    background-image: url('./imgs/submarinecropped.png');
}

.cruise {
    background-image: url('./imgs/cruisercropped.png');
}

.rotated{
    transform: rotate(90deg);
}

.hardmode {
    grid-column-start: 4;
}

.lost {
    --bordercolor: red;
    border: var(--bordercolor) solid 5px;

    animation: flashing 1s linear infinite;
}

.won {
    --bordercolor: green;
    border: var(--bordercolor) solid 5px;

    animation: flashing 1s linear infinite;
}

.pressme {
    --bordercolor: white;
    border: var(--bordercolor) solid 5px;

    animation: flashing 1s linear infinite;
}

@keyframes flashing {
    from, to { 
        border-color: transparent;
    }
    50% { 
        border-color: var(--bordercolor);
    }
}

@keyframes pulsing {
    from, to {
        box-shadow: inset 0 0 0 1000px rgba(50, 169, 205, 0.329);
    }
    50% {
        box-shadow: none;
    }
}