* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --accent-dark: #3a54bb;
    --accent-light: #d3e376;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
  
header {
    font-size: 6vmin;
    padding: 1vmin;
    background-color: var(--accent-dark);
    color: white;
    text-align: center;
    letter-spacing: .5vmin;
}
  
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main > div {
    display: grid;
    grid-template-columns: 110px 500px 50px 500px 110px;
    gap:  10px;
    align-items: center;
    justify-items: center;
}

#gameboards {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#score {
    font-size: 1.5vmin;
}

.board {
    display: grid;
    grid-template-rows: repeat(10,  40px);
    grid-template-columns: repeat(10,  40px);
}

.board > div {
    border: black solid 1px;
}

.board > div:hover {
    border: grey solid 1px;
}

#countdown {
    font-size: 5vmin;
    font-weight: 900; 
    height: 7.5vmin;
    width: 7.5vmin;
    text-align: center;
}

.turn {
    border-radius: 5px;
    border: black solid 1px;
    background-color: var(--accent-light);
    color: black;
    padding: 2vmin;
    font-weight: 700;
}

#playerturn {
    grid-column-start: 2;
}

#computerturn {
    grid-column-start: 4;
}

#orientation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ships {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    height: 100px;
}

.ship{
    display: grid;
    grid-template-rows: 40px;
    margin: 0px 20px 0px 20px;
}

#playerships > .ship {
    background-color: grey;
}

.ship > div {
    border: black solid 1px;
}

.carrier {
    grid-template-columns: repeat(5, 40px);
}

.battleship {
    grid-template-columns: repeat(4,  40px);
}

.destroyer {
    grid-template-columns: repeat(2,  40px);
}

.cruiser {
    grid-template-columns: repeat(3,  40px);
}

.submarine {
    grid-template-columns: repeat(3,  40px);
}

.countingdown {
    border-radius: 50%;
    border: solid 1vmin var(--accent-light);
}